body {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: inherit;
    height: 4em;
    background-color: #1ed6bd;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90%;
    width: 90%;
    margin: auto;
    align-items: center;
    position: relative;
    background: rgb(255, 255, 255) no-repeat padding-box;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 90%;
    /*width: 345px;
    height: 479.5px;*/
    background-color: #1ed6bd;
}

.logo > img {
    width: 60%;
}

form {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 70%;
    justify-content: center;
    align-items: center;
}

/*form > input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 2em;

    color: #2699FB;
    line-height: 2.5em;
    font-size: 1em;
}*/

button {
    margin: 0 1em 1em 1em;
    color: black;
    background:  transparent;
    box-shadow: 0px 3px 6px #00000029;
    
    border: 1px solid #1ed6bd;
    border-radius: 2px;
    width: 20%;
    line-height: 2.5em;
    font-size: 1em;
}

@media only screen and (max-device-width: 992px){
    body {
        font-size: 48px;
    }
    .container {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    .logo > img {
        width: 7.5em;
    }
}


@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }
    .container {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    .logo > img {
        width: 7.5em;
    }
}
