body {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    width: inherit;
    height: 4em;
    background-color: #1ed6bd;
    margin: auto;
}

.header > .wrapper-main{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    height: inherit;
}

.header > .wrapper-main > a{
    transform: translate(50%);
    color: #f2f2f2;
    text-align: center;
    padding: 19px 19px;
    font-family: Calibri;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
}

.header > .wrapper-other{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.header > .wrapper-other > .simplea {
    /*align-self: flex-end;*/
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90%;
    width: 90%;
    margin: auto;
    align-items: center;
    position: relative;
    background: rgb(255, 255, 255) no-repeat padding-box;
}

.container > .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 90%;
    /*width: 345px;
    height: 479.5px;*/
    color: white;
    background-color: #1ed6bd;
}

.container > .logo > .TinyHouse{
    padding-top: 1em;
    font-family: Calibri;
    font-size: 46px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.21;
    letter-spacing: normal;
}

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*height: 90%;*/
    width: 90%;
    margin: auto;
    align-items: center;
    position: relative;
    background: rgb(255, 255, 255) no-repeat padding-box;
}


.home-container > .board{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 90%;
    /*height: inherit;*/
}

.home-container > .board > .wrapper{
    display: flex;
    flex-direction: column;
    min-height: 280px;
    margin-top: 30px;
    width: 225px;
    
    background: #9bece2 no-repeat padding-box;
}

.home-container > .board > .wrapper > .action-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
}

.home-container > .board > .wrapper > .action-bar > a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
}

.home-container > .board > .wrapper > .action-bar > .room-name{
    margin-left: 0;
}

.home-container > .board > .wrapper > .action-bar > .edit{
    margin-left: auto;
}

.home-container > .board > .wrapper > .wrapper-img{
    width: 100%;
    height: 75%;
    background: black no-repeat padding-box;
}

.home-container > .board > .wrapper > .wrapper-img > a > img{
    width: 100%;
    height: 100%;
}

.tab{
    float: left;
    position: fixed;
    display: none;
    z-index: 2;
    border: 1px solid #ccc;
    background-color: #9bece2;
    width: 25%;
    min-width: 275px;
    /*height: inherit;*/
    top: 4em;
    bottom: 0;
}

.tab > .tab-contents{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: inherit;
}

.tab > .tab-contents > .name{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.tab > .tab-contents > .name > p{
    padding-left: 15px;
    font-size: 26px;
    margin-bottom: auto;
}

.tab > .tab-contents > .name > a{
    display: inline-block;
    color: black;
    text-align: center;
    padding-right: 15px;
    text-decoration: none;
    font-size: 16px;
    margin-left: auto;
    margin-top: auto;
}

.tab > .tab-contents > .services{
    display: flex;
    flex-direction: column;
    flex-basis: 10px;
}

.tab > .tab-contents > .services > p{
    padding-left: 15px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tab > .tab-contents > img{
    width: inherit;
    height: 40%;
    overflow: hidden;
}

.tab > .tab-contents > form{
    margin-top: 10px;
}

.tab > .tab-contents > form > .text-button{
    border: none;
    background-color: inherit;
    padding-left: 21px ;
    font-size: 16px;
}

.del-ete{ 
    border: none;
    background-color: inherit;
    font-size: 16px;
    margin-bottom: 8px;
}

.pl-us{
    border: none;
    background-color: inherit;
    padding-left: 0px;
    margin-left: 21px ;
    font-size: 16px;
}

.tab > .tab-contents > form > .inputs{
    margin-left: 15px;
    margin-right: 15px;
}

.inputs > input{ 
    background-color: transparent;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid white;
  
    -webkit-appearance: none;
    -moz-appearance: none;
  
    font-family: inherit;
    font-size: 1em;
  }

.inputs > .names{ 
    width: 40%;
}

.inputs > .inname{
    width: 56%;
}

.inputs > .values{ 
    width: 15%;
}

.admin-container{
    display: flex;
    flex-direction: column;
}

.admin-container > form{
    display: flex;
    flex-direction: row;
}

.admin-container > form > button{
    margin: 12px 18px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    width: inherit;
    margin: auto;
    align-items: center;
    position: relative;
    background:#41e1cb no-repeat padding-box;
}

.login-container > .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 25%;
    padding-bottom: 1em;
    color: white;
    /*width: 345px;
    height: 479.5px;*/
    /*background-color: #1ed6bd;*/
}

.login-container > form{
    color: white;
}

.logo > img {
    width: 60%;
    /*padding-bottom: 1em;*/
}

.container > form {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.container > form > p{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    width: 33%;
    text-align: justify;
}

.container > form > input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 2em;

    color: #2699FB;
    line-height: 2.5em;
    font-size: 1em;
}

.container > form > button {
    margin: 0 1em 1em 1em;
    color: black;
    background:  transparent;
    box-shadow: 0px 3px 6px #00000029;
    
    border: 1px solid #1ed6bd;
    border-radius: 2px;
    width: 20%;
    line-height: 2.5em;
    font-size: 1em;
}

.login-container > form {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.login-container > form > p{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    width: 33%;
    text-align: justify;
}

.login-container > form > input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 2em;

    color: #2699FB;
    line-height: 2.5em;
    font-size: 1em;
}

.login-container > form > button {
    margin: 0 1em 1em 1em;
    color: black;
    background:  transparent;
    box-shadow: 0px 3px 6px #00000029;
    
    border: 1px solid #1ed6bd;
    border-radius: 2px;
    width: 20%;
    line-height: 2.5em;
    font-size: 1em;
}

@media screen and (max-width: 600px){

    .tab{
        width: 100%;
    }

    .home-container > .board > .wrapper{
        min-height: 240px;
        margin-top: 20px;
        width: 180px;
    }

    .header > .wrapper-main{
        justify-content: flex-start;
    }
    
}

@media screen and (max-width: 750px){
    
    .header > .wrapper-other > .simplea {
        padding: 15px 15px;
        font-size: 14px;
    }

    .login-container > .logo{
        width: 60%;
        height: 30%;
        padding-bottom: 1em;
    }

    .login-container > form > button {
        width: 50%;
    }

    .container {
        flex-direction: column;
    }

    .container > .logo{
        width: 90%;
        height: 60%;
        margin-top: 20px;
    }

    .container > form {
        height: 50%;
        width: 90%;
    }

    .container > form > p{
        width: 80%;
    }

    .container > form > button {
        width: 50%;
    }
    
}